<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Saved Bookings</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="webjars/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
</head>
<body>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<h1>HOTEL MANAGEMENT</h1>
<h2>VIEW ALL BOOKINGS</h2>
<div class="btn-group">
    <input type="button" value="Home" onclick="window.location.href='/home'" />
    <input type="button" value="All Bookings" onclick="window.location.href='/bookings'" />
    <input type="button" value="Book Now" onclick="window.location.href='/bookings/submit'" />
    <input type="button" value="Available Rooms" onclick="window.location.href='/bookings/search/availablerooms'" />
    <input type="button" value="Booked Rooms" onclick="window.location.href='/bookings/search/roomnumber'" />
</div>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>CUSTOMER</th>
        <th>ROOM</th>
        <th>START DATE</th>
        <th>END DATE</th>
        <th>TOTAL</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="booking : ${bookings}">
        <tr>
            <td th:text="${booking.id}">...</td>
            <td th:text="${booking.customer}">...</td>
            <td th:text="${booking.room}">...</td>
            <td th:text="${booking.startDate}">...</td>
            <td th:text="${booking.endDate}">...</td>
            <td th:text="${booking.totalBookingPrice}">...</td>
            <td><a th:href="@{/bookings/{id}(id=${booking.id})}">Update</a></td>
            <td><a th:href="@{/bookings/delete/{id}(id=${booking.id})}">Delete</a></td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>