<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Saved Bookings</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="webjars/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen"> </link>
</head>
<body>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<table>
    <!--<p th:text="'ID ' + 'Price' + 'Currency' + 'StartDate' + 'EndDate' + ' Room Number ' + ' Customer Id'"/>-->
    <th:block th:each="booking : ${bookings}">
    <tr>
        <td th:text="${booking.id}">...</td>
        <td th:text="${booking.customer}">...</td>
        <td th:text="${booking.room}">...</td>
        <td th:text="${booking.startDate}">...</td>
        <td th:text="${booking.endDate}">...</td>
    </tr>
    </th:block>
</table>
<div class="btn-group">
    <button type="button" class="btn btn-success">Create Booking</button>
    <button type="button" class="btn btn-warning">Update Booking</button>
    <button type="button" class="btn btn-danger">Delete Booking</button>
</div>
</body>
</html>