<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table>
    <p th:text="' ID ' + ' First Name ' +  'Last Name ' +  'Email ' + 'Phone Number ' + 'Street Adress ' + 'City ' + 'Country ' + 'Payment Method'"/>
    <block>
        <tr th:each="customer: ${customers}">
            <td th:text="${customer.id}">...</td>
            <td th:text="${customer.firstname}">...</td>
            <td th:text="${customer.lastname}">...</td>
            <td th:text="${customer.email}">...</td>
            <td th:text="${customer.phonenumber}">...</td>
            <td th:text="${customer.streetadress}">...</td>
            <td th:text="${customer.city}">...</td>
            <td th:text="${customer.country}">...</td>
            <td th:text="${customer.paymentmethod}">...</td>
        </tr>
    </block>
</table>
</body>
</html>