<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Employee</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<body>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<h1>HOTEL MANAGEMENT</h1>
<h2>New Employee created</h2>
<div class="btn-group">
    <input type="button" value="Home" onclick="window.location.href='/home'" />
</div>
<h4>Result</h4>
<div class="btn-group">
    <input type="button" value="Home" onclick="window.location.href='/home'" />
    <input type="button" value="Search By First Name" onclick="window.location.href='/employee/search/firstname'" />
    <input type="button" value="Show All" onclick="window.location.href='/employee'" />
</div>
<p th:text="'Employee First Name: ' + ${employee.firstName}" />
<p th:text="'Employee Last Name: ' + ${employee.lastName}" />
<input type="button" value="New Employee" onclick="window.location.href='/employee/create/newemployee'" />
</body>
</html>
