<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <table>
        <p th:text="'ID '
        + 'firstName '
        + 'lastName '
        + 'email '
        + 'employeeAddress '
        + 'employeePhoneNumber '
        + 'employmentDate '
        + 'Price '
        + 'employeeRole '"/>
        <th:block th:each="employee : ${employees}">
            <tr>
                <td th:text="${employee.employeeId}">...</td>
                <td th:text="${employee.firstName}">...</td>
                <td th:text="${employee.lastName}">...</td>
                <td th:text="${employee.email}">...</td>
                <td th:text="${employee.employeeAddress.streetAddress}">...</td>
                <td th:text="${employee.employeeAddress.city}">...</td>
                <td th:text="${employee.employeeAddress.country}">...</td>
                <td th:text="${employee.employeePhoneNumber}">...</td>
                <!--<td th:text="${employee.employmentDate}">...</td>-->
                <!--<td th:text="${employee.price}">...</td>-->
                <td th:text="${employee.employeeRole}">...</td>
            </tr>
        </th:block>
    </table>
<div class="btn - group">
    <button type="button" class="btn btn-success">Create Employee</button>
    <button type="button" class="btn btn-warning">Update Employee</button>
    <button type="button" class="btn btn-danger">Delete Employee</button>
</div>
</body>
</html>
