<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Events</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="webjars/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
    </link>
</head>
<body>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<h1>HOTEL MANAGEMENT</h1>
<h2>View All Events</h2>
<div class="btn-group">
    <input type="button" value="Home" onclick="window.location.href='/home'" />
</div>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="event : ${events}">
        <tr>
            <td th:text="${event.id}">...</td>
            <td th:text="${event.startDate}">...</td>
            <td th:text="${event.endDate}">...</td>
            <!--<td th:text="${event.eventroomid}">...</td>-->

        </tr>
    </th:block>
    </tbody>
</table>

<div class="btn-group">

    <a href="/events/submit" class="btn btn-info" role="button">Book New Event</a>
    <a href="/events/update" class="btn btn-info" role="button">Update Event</a>
    <a href="/submit" class="btn btn-info" role="button">Delete Event</a>
    <!--<button type="button" class="btn btn-succes">Create Booking</button>-->
    <!--<button type="button" class="btn btn-warning">Update Booking</button>-->
    <!--<button type="button" class="btn btn-danger">Delete Booking</button>-->
</div>
</body>
</html>