<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Employee Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/employee/create/newemployee}" method="post">
    <p>First Name: <input type="text" th:field="*{employee.firstName}" /></p>
    <p>Last Name: <input type="text" th:field="*{employee.lastName}" /></p>
    <p>email: <input type="text" th:field="*{employee.email}" /></p>
    <p>username: <input type="text" th:field="*{employee.username}" /></p>
    <p>password: <input type="text" th:field="*{employee.password}" /></p>
    <p>Phone Number: <input type="text" th:field="*{employee.employeePhoneNumber}" /></p>
    <p>Employment Date: <input type="date" th:field="*{employee.employmentDate}" /></p>
    <p>Employee Role: <input type="text" th:field="*{employee.employeeRole}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>