<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Submision Event</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="btn-group">
    <a href="/home" class="btn btn-info" role="button">HOME</a>
</div>
<table>
    <thead>
    <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Event Room Id</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${event.startDate}">...</td>
        <td th:text="${event.endDate}">...</td>
        <td th:text="${event.eventRoomId.id}">...</td>
    </tr>
    </tbody>
</table>
<a href="/events/submit">Submit another event</a>

</body>
</html>