<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table>
    <p th:text="' Room Number ' + ' Room Type ' +  'Bed Type ' +  'Bed Number ' + ' Ocean View ' + ' Air Conditioning ' + ' Balcony '"/>
    <block>
        <tr th:each="room: ${rooms}">
            <td th:text="${room.roomNumber}">...</td>
            <td th:text="${room.roomType}">...</td>
            <td th:text="${room.bedType}">...</td>
            <td th:text="${room.bedNumber}">...</td>
            <td th:text="${room.oceanView}">...</td>
            <td th:text="${room.airConditioning}">...</td>
            <td th:text="${room.balcony}">...</td>
        </tr>
    </block>
</table>
</body>
</html>