<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Event Room</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>HOTEL MANAGEMENT</h1>
<h2>Create New Event Room</h2>
<div class="btn-group">
    <input type="button" value="Home" onclick="window.location.href='/home'" />
</div>
<form action="#" th:action="@{/eventrooms/submit}" method="post">
    <p>Room Name: <input type="text" th:field="*{eventroom.roomName}" /></p>
    <p>Room Capacity: <input type="text" th:field="*{eventroom.roomCapacity}" /></p>
    <p>Room Floor: <input type="text" th:field="*{eventroom.floorRoom}" /></p>
    <p>Price ID: <input type="text" th:field="*{eventroom.pricePerDay}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>