<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Event</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>HOTEL MANAGEMENT</h1>
<h2>Create New Event</h2>
<div class="btn-group">
    <a href="/home" class="btn btn-info" role="button">HOME</a>
</div>
<form action="#" th:action="@{/events/submit}" method="post">
    <p>Event Start Date: <input type="text" th:field="*{event.startdate}" /></p>
    <p>Event End Date: <input type="text" th:field="*{event.enddate}" /></p>
    <p>Event Room Id: <input type="text" th:field="*{event.eventRoomId}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>