<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Room</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>HOTEL MANAGEMENT</h1>
<h2>UPDATE ROOM</h2>
<p> INFO: Only fields marked with * can be updated</p>
<div class="btn-group">
    <input type="button" value="Home" onclick="window.location.href='/home'" />
</div>
<form action="#" th:action="@{/rooms/{id}(id=${room.roomNumber})}" method="post" id="formupdate">
    <p>Room Number: <input type="text" th:field="*{room.roomNumber}" disabled="disabled"/></p>
    <p>Room Type*: <input type="text" th:field="*{room.roomType}"/></p>
    <p>Bed Type*: <input type="text" th:field="*{room.bedType}"/></p>
    <p>Bed Number*: <input type="text" th:field="*{room.bedNumber}"/></p>
    <p>Ocean View*: <input type="text" th:field="*{room.oceanView}"/></p>
    <p>Air Conditioning*: <input type="text" th:field="*{room.airConditioning}"/></p>
    <p>Balcony*: <input type="text" th:field="*{room.balcony}"/></p>
    <p>Price Id*: <input type="number" th:field="*{room.pricePerNight.id}"/></p>
    <p><input type="submit" value="Update"/> <input type="reset" value="Reset"/></p>
</form>
<div class="btn-group">
    <a href="/rooms" class="btn btn-info" role="button">View All</a>
</div>
</body>
</html>