<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Booking</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/bookings/update}" method="put">
    <p>Booking id: <input type="text" th:value="*{booking.id}" /></p>
    <p>Room Number: <input type="text" th:value="*{booking.room}" /></p>
    <p>Customer Id: <input type="text" th:field="*{booking.customer}" /></p>
    <p>StartDate: <input type="text" th:field="*{booking.startDate}" /></p>
    <p>EndDate: <input type="text" th:field="*{booking.endDate}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>