<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Booking</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>HOTEL MANAGEMENT</h1>
<h2>UPDATE BOOKING</h2>
<div class="btn-group">
    <a href="/home" class="btn btn-info" role="button">HOME</a>
</div>
<p> INFO: Only fields marked with * can be updated</p>
<form action="#" th:action="@{/bookings/{id}(id=${booking.id})}" method="post" id="formupdate">
    <p>Booking Id: <input type="number" th:field="*{booking.id}" disabled="disabled"/></p>
    <p>Room Number*: <input type="number" th:field="*{booking.room.roomNumber}" /></p>
    <p>Customer Id: <input type="number" th:field="*{booking.customer.id}" disabled="disabled"/></p>
    <p>StartDate*: <input type="text" th:field="*{booking.startDate}" /></p>
    <p>EndDate*: <input type="text" th:field="*{booking.endDate}" /></p>
    <p><input type="submit" value="Update" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>