<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title></title>
</head>
<body>
<form th:object="${employee}" th:action="@{/employee/search/firstname}" method="get">
    <input type="text" name="search" id="search" th:value="${search}" />
    <input type="submit" value="Search" />
    <div th:if="${not #lists.isEmpty(search)}">
        <h2>Employees with</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name </th>
                <th>Email</th>
            </tr>
            <tr th:each="employee: ${search}">
                <td th:text="${employee.employeeId}">id</td>
                <td th:text="${employee.firstName}">First Name</td>
                <td th:text="${employee.lastName}">Last Name</td>
                <td th:text="${employee.email}">Email</td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>