<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
    <title>Welcome to Hotel Management</title>
</head>
<body>
<table>
    <tr>
        <td>Welcome to Hotel Management:</td>
        <td th:text="${employee.firstName}">...</td>
        <td th:text="${employee.lastName}">...</td>


    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
        <td>
            <input type="button" value="Home" onclick="window.location.href='/home'" />
        </td>
    </tr>
</table>
</body>
</html>
